<!--
<div id="vibro-title">featured vibes</div> -->

<div id="app" class="small-10 medium-8 large-6 carousel"></div>
<!--
<div id="waviest-vibes-div small-12 columns">
  <h1 id="waviest-vibes-title" class="center column">waviest vibes</h1>
</div> -->

<!-- <div class-"small-12">
  <div id="-vibes-ul" class="small-12">
    <ul>
      <% @waveyVibes.each do |vibe| %>
        <br>
        <li>
          <h2><%= link_to "#{vibe.name}",
                  vibe_path(vibe),
                  :class=>"vibe-name" %>
              <%= link_to "#{User.find(vibe.user_id).username}",
                  user_path(vibe.user_id),
                  :class=>"vibe-user"%>
          </h2>
          <i class="fas fa-broadcast-tower"></i>
          <span class="tower-text">
            <%= vibe.waves %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div> -->
