.show-page {
  margin: 1rem;
}

.player-div {
  height: 400px;
  text-align: center;
  position: relative;
  margin-left: 1rem;
  width: 100%;
  top: 100%;
  z-index: 1;
  background-blend-mode: lighten;
}

.spinner-wrap {
  display: block;
  width: 50%;
  height: 35px;
  position: relative;
  left: 50%;
  margin-left: -163px;
  top: 0;
  top: 19px;
}

.spinner-wrap * {
  cursor: crosshair;
}

.spinner-outer {
  display: block;
  width: 327px;
  height: 327px;
  position: absolute;
  left: 50%;
  margin-left: -163px;
  border-radius: 50%;
  background: url(https://s3.amazonaws.com/vibro-production/Art/spinner-outer.png) center center no-repeat #32302e;
  filter: hue-rotate(270deg);
  box-shadow: 0 0 5px 5px #ed1eed;
}
.playing .spinner-outer {
  animation-name: Spin-CCW;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.spinner-center {
  height: 200px;
  width: 200px;
  position: absolute;
  background: url(https://s3.amazonaws.com/vibro-production/Art/spinner-center.png) center center no-repeat;
  filter: hue-rotate(90deg);
  border-radius: 50%;
  left: 50%;
  top: 42%;
  margin: -99px;
  pointer-events: none;
}

.playing .spinner-center {
  animation-name: Spin-CW;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.play-sprite {
  position: absolute;
  top: 42%;
  left: 50%;
  margin: -35px 0 0 -35px;
  background: url(https://s3.amazonaws.com/vibro-production/Art/play-sprite.png) 0px 0px no-repeat;
  filter: hue-rotate(-90deg);
  height: 70px;
  width: 70px;
}
.playing .play-sprite {
  background-position: 0px -70px;
}

@-webkit-keyframes Spin-CW {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes Spin-CCW {
  from { transform: rotate(360deg); }
  to {transform: rotate(0deg); }
}

@-webkit-keyframes Pulse {
  from { transform: scale(.8); }
  to { transform: scale(1); }
}
