
.swiper-wrapper {
  // margin-bottom: 3rem;
}

#coverflow-div {
  width: 90%;
  margin-top: 5rem;
  text-align: center;
  margin: 0 auto;
}

.swiper-container {
  top: -3rem;
  height: 20rem;
}

.swiper-slide-active {
  margin: 0;
}

.swiper-slide img {
  border-radius: 3%;
  width: 20rem;
  height: 20rem;
  -webkit-box-reflect: below 3px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(80%, transparent), to(rgba(255, 255, 255, 0.2)));
}

.swiper-button-next, .swiper-button-prev {
  color: #80ffbf;
}

.swiper-pagination {
  z-index: 2;
  position: absolute;
  top: 20rem;
}

.play-overlay-button {
  z-index: 3;
  background: none;
  transform: translate(230%, -110%);
  background: white;
  border: 2px solid black;
  padding: 0;
  border-radius: 50%;
  &:hover {
    color: white;
    outline: none;
    background: black;
  }
  &:active {
    outline: none;
    background: white;
  }
  &:focus {
    outline: none;
    background: none;
  }
}

.play-overlay {
  color: black;
  font-size: 3rem;
  // opacity: 0.7;
  &:hover {
    color: white;
  }
  &:active {
    color: #007bff;
  }
}
  //
  // .de-saturate {
  //   filter: saturate(50%);
  // }
