
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Ultra');
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Chewy');
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');
@import url('https://fonts.googleapis.com/css?family=Kreon');

$primary : #476cff;

* {
  font-family: 'Kreon';
  color: white;
}

.row {
  margin-left: 0;
  margin-right: 0;
  max-width: none;
}

.row .row {
  // margin: 0;
}

ul {
  list-style: none;
}

//
// body {
//   font-family: 'Kreon';
// }

body {
  // font-family: 'Spicy Rice';
  // background-color: #e7e1f7;
  // filter: saturate(1.5);
  // background: rgb(13,250,251);
  // background-image:
  // radial-gradient(circle at 0% 0%,
  // white 1%,
  // aquamarine 2%,
  // aquamarine 3%,
  // white 4%,
  // white 5%,
  // aquamarine 6%,
  // aquamarine 7%,
  // white 8%,
  // white 9%,
  // aquamarine 10%,
  // aquamarine 11%,
  // white 12%,
  // white 13%,
  // aquamarine 14%,
  // aquamarine 15%,
  // white 16%,
  // white 17%,
  // aquamarine 18%,
  // aquamarine 19%,
  // white 20%,
  // white 21%,
  // aquamarine 22%,
  // aquamarine 23%,
  // transparent 10%,
  // transparent);
  // background:
  // radial-gradient(circle at 0% 0%,
  // white 1%,
  // aquamarine 2%,
  // aquamarine 3%,
  // white 4%,
  // white 5%,
  // aquamarine 6%,
  // aquamarine 7%,
  // white 8%,
  // white 9%,
  // aquamarine 10%,
  // aquamarine 11%,
  // white 12%,
  // white 13%,
  // aquamarine 14%,
  // aquamarine 15%,
  // // white 16%,
  // // white 17%,
  // // aquamarine 18%,
  // // aquamarine 19%,
  // // white 20%,
  // // white 21%,
  // // aquamarine 22%,
  // // aquamarine 23%,
  // transparent 10%,
  // transparent),
  // radial-gradient(circle, rgba(255,255,255,0.1) 70%, rgba(71, 108, 255, 0.5) 100%);
  // background-repeat: no-repeat;

  background: rgba(89,89,89,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(89,89,89,1) 0%, rgba(85,85,85,1) 5%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(89,89,89,1)), color-stop(5%, rgba(85,85,85,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(89,89,89,1) 0%, rgba(85,85,85,1) 5%, rgba(0,0,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(89,89,89,1) 0%, rgba(85,85,85,1) 5%, rgba(0,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(89,89,89,1) 0%, rgba(85,85,85,1) 5%, rgba(0,0,0,1) 100%);
  background: radial-gradient(ellipse at center, rgba(89,89,89,1) 0%, rgba(85,85,85,1) 5%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#000000', GradientType=1 );
}

// @-webkit-keyframes Pulsate {
//   from { color: #80ffbf; text-shadow: 2px 2px #ff00dc; }
//   1% { color: #ffb3ff; text-shadow: 2px 2px #80ffbf; }
//   2% { color: #80ffbf; text-shadow: 2px 2px #ff00dc;}
//   90% { color: #80ffbf; text-shadow: 2px 2px #ff00dc;}
//   90.5% { color: #ffb3ff; text-shadow: 2px 2px #80ffbf; }
//   91% { color: #80ffbf; text-shadow: 2px 2px #ff00dc;}
//   to { color: #80ffbf; text-shadow: 2px 2px #ff00dc; }
// }
//
// @-webkit-keyframes ChangecolorTransform {
//   from { filter: hue-rotate(0deg); box-shadow: 2px 2px 2px 2px #ff00dc;}
//   10% { filter: hue-rotate(36deg);  box-shadow: 2px 2px 2px 2px #e7ff4c;}
//   20% { filter: hue-rotate(72deg);  box-shadow: 2px 2px 2px 2px #724cff;}
//   30% { filter: hue-rotate(108deg);  box-shadow: 2px 2px 2px 2px #fc2a00;}
//   40% { filter: hue-rotate(144deg);  box-shadow: 2px 2px 2px 2px #ffa8f3;}
//   50% { filter: hue-rotate(180deg);  box-shadow: 2px 2px 2px 2px #04fc00;}
//   60% { filter: hue-rotate(216deg);  box-shadow: 2px 2px 2px 2px #fc007e;}
//   70% { filter: hue-rotate(252deg);  box-shadow: 2px 2px 2px 2px #4300ff;}
//   80% { filter: hue-rotate(288deg);  box-shadow: 2px 2px 2px 2px #476cff;}
//   90% { filter: hue-rotate(324deg);  box-shadow: 2px 2px 2px 2px #00ffff;}
//   to { filter: hue-rotate(360deg); box-shadow: 2px 2px 2px 2px #ff00dc;}
// }
