$green: #80ffbf;
$pink: #ff00dc;

.fa-bars,
.fa-times {
  color: white;
  margin-top: 1rem;
  margin-left: 0.4rem;
  // padding-right: 0.2rem;
  transform: scale(2);
  text-shadow: 0px 0px 1px #724cff, 1px 1px 2px white;
  &:hover {
    transform: scale(2);
    color: $pink;
  }
}

.fa-times {
  animation: TwitchRotate;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.fa-bars {
  animation: Hello;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.top-right-elements {
  padding: 0;
}

.hamburger-party {
  top: -1rem;
  padding-right: 0;
}

.hamburger-container {
  // margin-right: 1rem;
  // margin-top: 0.5rem;
  // border: solid 1px white;
  border-radius: 10px;
  text-align: center;
  // padding: 0.7rem;
  // padding: 0.2rem 0.25rem 0.5rem 0.1rem;
  // background-color: white;
  // box-shadow: 6px 1px 5px 2px rgba(255, 255, 255, 0.6);
}

.hamburger-user-name {
  color: white;
  font-family: 'Monoton';
  margin-right: 0.8rem;
  font-size: 1.2rem;
  // text-transform: uppercase;
  text-shadow: 1px 2px 3px #fff, 3px 5px 5px $green;
  &:hover {
    color: $pink;
    transform: scale(1.2);
    text-shadow: 1px 2px 5px $green;
    text-decoration: none;
  }
}

.hamburger-menu {
  // width: 5rem;
  right: 0px;
  z-index: 1;
  // margin-right: 1rem;
  position: absolute;
  text-align: center;
}

.hamburger-li a {
  margin-bottom: white;
}

.hamburger-menu a {
  color: white;
  // text-transform: uppercase;
  border-radius: 10px;
  margin-top: 1rem;
	display: block;
  margin-bottom: white;
  box-shadow: 9px 7px 0px 7px $green;
  &:hover {
    color: $pink;
    text-decoration: none;
  }
}

#first-hamburger-li {
  margin-top: 0.5rem;
}

@-webkit-keyframes Hello {
  from { transform: scale(1); }
  5% { transform: scale(2); }
  10% { transform: scale(2.5); }
  20% { transform: scale(2); }
  30% { transform: scale(1.7); }
  50% { transform: scale(2); }
  to { transform: scale(2); }
}

@-webkit-keyframes TwitchRotate {
  from { transform: rotate(0deg) scale(2); }
  10% { transform: rotate(360deg) scale(2); }
  to { transform: rotate(360deg) scale(2); }
}
