
.spicy-rice {
  font-family: 'Spicy Rice';
}

.kreon {
  font-family: 'Kreon';
}

#index-page-container,
#mix-button {
  font-family: 'Kreon';
}

#vibro-logo {
  font-size: 3.5rem;
  margin: 0;
}

#vibe-bro {
  font-family: 'Monoton';
  font-size: 0.5rem;
}

.breadcrumbs {
  border: none;
  background: none;
}

#index-page-left,
#index-page-right {
  padding: 0;
}

#index-page-left-middle-high,
#index-page-left-middle-low {
  // margin: 0 auto;
}

#index-page-left-bottom {
  bottom: 0;
  z-index: 1;
  position: fixed;
  padding-left: 0.3rem;
  padding-right: 0;
}

#swirl-right,
#swirl-left {
  width: 50%;
}

#swirl-left {
  float: right;
}
