$green: #80ffbf;
$pink: #ff00dc;
$indigo: #476cff;

.mix-info {
  margin-top: 1.3rem;
}

#mix-select-container,
#mix-description-container,
#mix-question-mark,
#mix-blurb-container,
#mix-button-container {
  margin: 0 auto;
}

#mix-select {
  margin-left: 0.75rem;
  width: 2.5rem;
}

select {
  width: 150px;
  font-size: 1rem;
  border-radius: 50%;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 3px 3px 3px 3px $green, 4px 4px 4px 4px $pink;
  &:active, &:focus, &:visited {
    outline: 0;
  }
}

#mix-select-label {
  margin-top: 0.3rem;
}

#mix-blurb-container {
  text-align: center;
  font-size: 1.25rem;
}

#mix-question-mark {
  margin-left: 0.25rem;
}

#mix-button {
  margin-top: 1rem;
  border-radius: 25px;
  text-transform: uppercase;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  &:hover {
    transform: scale(1.03);
    box-shadow: 20px 20px 50px 10px hotpink inset;
  }
  &:active {
    outline: none;
    transform: scale(0.93);
    background: linear-gradient(135deg, #a777e3, hotpink);
    box-shadow: -2px -2px 10px 2px grey, 20px 20px 50px 10px #6e8efb inset;
  }
  &:focus {
    outline: none;
  }
}
