
#mix-select-container,
#mix-description-container,
#mix-question-mark,
#mix-blurb-container,
#mix-button-container {
  margin: 0 auto;
}

#mix-select {
  margin-left: 0.75rem;
  width: 2.5rem;
}

#mix-select-label {
  margin-top: 0.3rem;
}

#mix-question-mark {
  margin-left: 0.25rem;
}
