
.my-player {
  // padding: 0;
  left: 5rem;
  margin-top: 1rem;
}

.playback-buttons {
  margin-top: 1rem;
}

.playback:hover {
  transform: scale(1.3);
}

.repeat-unclicked {
  color: white;
}
.repeat-clicked {
  color: #ff00dc;
  text-shadow: 1px 1px white, -1px -1px white;
}

.shuffle-unclicked {
  color: white;
}
.shuffle-clicked {
  color: #ffff00;
  text-shadow: 1px 1px white, -1px -1px white;
}

.switch {
  margin-left: 0.5rem;
  margin-bottom: 0;
  filter: hue-rotate(60deg);
}

.control {
  padding-left: 0;
  margin-left: 1rem;
}

.volume-slider {
  margin-top: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  filter: hue-rotate(-30deg);
  &:hover {
    transform: scale(1.1);
  }
}

.range-slider {
  margin: 0;
}

.play-icon {
  transform: scale(2);
  &:hover {
    transform: scale(2.3);
  }
}

#index-page-vibe-reactions {
  margin: auto;
}

.reaction-num {
  margin: 0 1rem 0 0.1rem;
}

.fire,
.ice {
  margin-left: 2rem;
}
