
.my-player {
  margin-top: 1rem;
}

.playback-buttons {
  margin-top: 1rem;
}

.switch {
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.control {
  padding-left: 0;
  margin-left: 1rem;
}

.volume-slider {
  margin-top: 0.5rem;
  padding-left: 0;
  padding-right: 0;
}

.range-slider {
  margin: 0;
}

.play-icon {
  transform: scale(2);
}
