#container {
  transform: rotate(90deg);
}

#container {
  margin-top: 50%;
  width: 100%;
  height: 2%;
}
//
// svg {
//   margin-top: 1.3rem;
// }

.idea-icon {
  transform: rotate(-90deg);
}
.idea-icon:hover {
  transform: scale(2);
  color: #ff00dc;
  text-shadow: 2px 2px #80ffbf;
  right: 3rem;
}
.idea-icon:active {
  border: none;
}

.tippy-content {
  color: blueviolet;
  font-size: 1rem;
}
.tippy-content:hover {
  color: #80ffbf;
}

.tippy-tooltip {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 4px 2px 8px 2px rgba(0,0,0,0.2);
}
.tippy-tooltip:hover {
  color: #80ffbf;
  background-image: url('arrow.png');
}

.click-me,
.fa-mouse-pointer {
  color: #ed1eed;
  animation-name: Pulse;
  animation-iteration-count: infinite;
}

.fa-mouse-pointer {
  margin-top: 22rem;
  margin-right: 5rem;
  animation-duration: .25s;
}

.click-me {
  font-family: 'Kreon';
  animation-duration: 2s;
}

#idea-user {
  float: left;
  margin-left: 1.5rem;
  font-family: 'Kreon';
}

#idea-user {
  height: 25%;
  width: 25%;
  border-width: 2px;
  box-shadow: 4px 2px 8px 2px rgba(0,0,0,0.2);
}

#idea-username {
  color: blueviolet;
}

#idea-username {
  font-size: 2rem;
  text-align: center;
  box-shadow: 4px 2px 8px 2px rgba(0,0,0,0.2);
}

#idea-title,
#idea-description {
  font-family: 'Kreon';
  text-align: center;
}

#idea-title {
  margin-top: 2rem;
  text-align: center;
  color: #ea5f2c;
  font-size: 2rem;
}

#idea-description {
  color: royalblue;
  font-size: 1rem;
  margin: 2rem;
}

#idea-title-row {
  display: inline;
}

#idea-lightbulb {
  margin: 3rem;
}

@-webkit-keyframes Colorize {
  from { filter: hue-rotate(0deg); }
  50% { filter: hue-rotate(180deg); }
  to { filter: hue-rotate(360deg); }
}
