#container {
  transform: rotate(90deg);
}

#container {
  margin-top: 50%;
  width: 100%;
  height: 2%;
}
//
// svg {
//   margin-top: 1.3rem;
// }

.tippy-content {
  color: blueviolet;
  font-size: 1rem;
}
.tippy-content:hover {
  color: #80ffbf;
}

.tippy-tooltip {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 4px 2px 8px 2px rgba(0,0,0,0.2);
}
.tippy-tooltip:hover {
  color: #80ffbf;
  background-image: url('arrow.png');
}

.click-me,
.fa-mouse-pointer {
  color: #ed1eed;
  animation-name: Pulse;
  animation-iteration-count: infinite;
}

.fa-mouse-pointer {
  margin-top: 22rem;
  margin-right: 5rem;
  animation-duration: .25s;
}

.click-me {
  font-family: 'Kreon';
  animation-duration: 2s;
}


@-webkit-keyframes Colorize {
  from { filter: hue-rotate(0deg); }
  50% { filter: hue-rotate(180deg); }
  to { filter: hue-rotate(360deg); }
}
