
.user-show-page-div {
  margin-top: 3rem;
  text-align: center;
}

.user-full-name, .user-bio {
  font-family: monospace;
}

.user-full-name {
  font-size: 2rem;
  font-family: monospace;
  color: #ffb3ff;
}

.user-bio {
  font-size: 1rem;
  color: royalblue;
}

#user-show-username {
  font-size: 3rem;
}
