
.vibe-show-page-div {
  margin-top: 1rem;
  text-align: center;
}

.radio-button-container {
  text-align: center;
}

.radio-button {
  margin-left: 100rem;
  margin-right: 5rem;
}

#mix-num {
  color: #00f6ff;
  text-align: center;
  text-shadow: 1.5px 1.5px #476cff;
}

#mix-name {
  color: #476cff;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

#mix-blurb {
  color: #ed1eed;
  font-weight: bold;
  font-size: 2rem;
  margin-top: .5rem;
  text-align: center;
  text-shadow: 1px 1px #476cff;
  animation-name: Attention;
  animation-delay: 10s;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

#show-page-vibe-name,
#show-page-username,
#show-page-blurb,
#mix-num,
#mix-name,
#mix-blurb,
#new-mix-button {
  font-family: monospace;
}

#show-page-vibe-name {
  font-size: 2rem;
}

.vibe-name {
  color: #ff00dc;
  text-decoration: none;
  text-shadow: 1px 1px #476cff;
}

.vibe-name:hover {
  color: #476cff;
  animation-name: Pulsatehover;
  animation-duration: .25s;
  animation-iteration-count: infinite;
  text-decoration: none;
}

.vibe-user {
  font-size: 1rem;
  color: blueviolet;
  text-decoration: none;
}

.vibe-user:hover {
  color: #ff00dc;
  text-decoration: none;
}

.vibe-blurb {
  font-size: .75rem;
  color: rebeccapurple;
}

.fa-fire,
.fire-text,
.fa-snowflake,
.chill-text {
  font-size: 2rem;
}

.tower-text,
.chill-text,
.fire-text {
  display: inline-block;
}

.tower-text, .fa-broadcast-tower {
  color: royalblue;
}

.chill-text, .fa-snowflake {
  color: #00f6ff;
}

.fire-text, .fa-fire {
  color: #ff2600;
}

.reaction-num {
  margin-left: 0.5rem;
}

.fa-fire,
#error-message {
  color: #ff2600;
}

.fa-snowflake {
  color: #00f6ff;
  margin-left: 2rem;
  animation-name: TwitchRotate;
  animation-delay: 5s;
  animation-duration: 10s;
  animation-iteration-count:infinite;
}

.fa-snowflake:hover {
  filter: hue-rotate(90deg);
  animation-name: SlowRotate;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count:infinite;
}

.fa-fire {
  margin-left: 1rem;
  animation-name: TwitchFlip;
  transform: rotateY(180deg);
  animation-delay: 10s;
  animation-duration: 10s;
  animation-iteration-count:infinite;
}

.fa-fire:hover {
  filter: hue-rotate(270deg);
  animation-name: SlowFlip;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count:infinite;
}

.vibe-art {
  width: 50%;
  height: 50%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 5%;
  margin-top: 1rem;
  // margin-right: 1rem;
  animation-name: BackForth;
  animation-delay: 5s;
  animation-duration: 10s;
  animation-iteration-count:infinite;
}

#new-mix-button {
  margin-top: 1rem;
  display: inline-block;
  background-color: aquamarine;
  color: #476cff;
  font-size: 1.25rem;
  box-shadow: 5px 10px #ed1eed;
}

#new-mix-button:hover {
  background-color: #ed1eed;
  color: white;
  box-shadow: 5px 10px aquamarine;
  text-decoration: none;
}

.dropzone-section {
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

#error-message {
  margin: auto;
  text-align: center;
  font-size: 1rem;
}

@-webkit-keyframes TwitchRotate {
  from { transform: rotate(0deg); }
  10% { transform: rotate(360deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes SlowRotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes BackForth {
  from { transform: scale(1) }
  9% { transform: scale(1); }
  10% { transform: scale(1.03); }
  11% { transform: scale(1); }
  12% { transform: scale(1); }
  13% { transform: scale(1.03); }
  14% { transform: scale(1); }
  to { transform: scale(1); }
}

@-webkit-keyframes TwitchFlip {
  from { transform: rotate(0deg); }
  10% { transform: rotateY(360deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes SlowFlip {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

@-webkit-keyframes Attention {
  from { transform: scale(1); }
  49% { transform: scale(1); }
  50% { transform: scale(1.2); }
  51% { transform: scale(1); }
  52% { transform: scale(.8); }
  53% { transform: scale(1); }
  to { transform: scale(1); }
}

@-webkit-keyframes Pulsatehover {
  from { color: #476cff; text-shadow: 2px 2px #ff00dc;}
  10% { color: #ffa8f3;  text-shadow: 2px 2px #476cff;}
  to { color: #476cff; text-shadow: 2px 2px #ff00dc;}
}
