
.user-show-page-div {
  margin-top: 3rem;
  text-align: center;
}

.user-full-name,
.user-bio,
#user-show-username {
  float: left;
  margin-left: 1.5rem;
  font-family: Abril Fatface;
}

.user-full-name {
  font-size: 2rem;
  font-family: Abril Fatface;
  color: #ffb3ff;
}

.user-bio {
  font-size: 1rem;
  color: royalblue;
}

#user-show-username {
  font-size: 3rem;
}

.user-photo {
  border-radius: 50%;
  margin-left: 1em;
  border: solid 5px aquamarine;
}

#user-vibes-list {
  text-align: center;
  margin: auto;
}

.user-vibes-list-item {
  border-radius: 10%;
  padding: 10px;
  border: 1px solid aquamarine;
  box-shadow: 5px 10px #ed1eed;
  margin: 1rem;
  background-color: white;
}

.user-vibes-list-item:hover {
  padding: 5px;
  border: 1px solid #ed1eed;
  box-shadow: 5px 10px aquamarine;
}

.vibe-art-mini img {
  height: 50%;
  width: 50%;
  border-radius: 5%;
  border: 1px solid aquamarine;
  box-shadow: 2px 2px #ed1eed;
}

.fire-text {
  color: #ff2600;
}

.chill-text {
  color: #00f6ff;
}

.fire-icon {
  animation: TwitchFlip;
  animation-delay: 10s;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.ice-icon {
  animation: TwitchRotate;
  animation-delay: 5s;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.fa-upload,
.fa-broadcast-tower,
#tower-text {
  color: royalblue;
}

#tower-text {
  font-family: Abril Fatface;
}

.fa-upload {
  transform: scale(2);
}

#upload-vibe {
  padding-top: 9rem;
}

#upload-vibe:hover {
  animation-name: ChangecolorTransform;
  animation-duration: .25s;
  animation-iteration-count: infinite;
}

#new-vibe-text {
  font-size: 2rem;
  font-family: Abril Fatface;
  color: #ed1eed;
}
#new-vibe-text:hover {
  text-decoration: none;
}
